
 
h1 
{
    color: red;
    background-color: yellow;
    width: 70;
}
body 
{
    background-color: black;
          background-image: url('https://w0.peakpx.com/wallpaper/789/711/HD-wallpaper-focus-motivational-quote-motivation-thumbnail.jpg');
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: contain;
         
          
         
}
