/* Your code goes here */
.container {
  display: flex;
  /*flex-direction: row;*/ /*default* left to right 1->2->3->4*/
  /*flex-direction: row-reverse; */ /*default* right to left 4->3->2->1*/
  flex-direction: row;
  justify-content: center;
  border: 2px solid #fff;
  height: 100px;
  width: 100px;
  flex-wrap: wrap;
}

.container div {
  width: 10px; /* Example width to make items wide enough */
  height: 10px;
  background-color: lightblue;
  margin: 5px;
}
/*.container {
  display: flex;
 flex-direction: row;
  justify-content: center;
  border: 2px solid #fff;
  height: 200px;
  align-items: center;
} */
